.chatComponent {
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.border {
    border: dashed lightsteelblue;
    border-radius: 0.5px;
    display: flex;
    flex-direction: column;
}

.rightText {
    border: dashed rgb(243, 176, 154);
    text-align: right;
    align-self: end;
}